*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
display: flex;
text-align: center;
justify-content: center;
}

.box{

    width: 80vw;
    height: fit-content;
    display: flex;
    text-align: center;
}

header{
    margin: auto;
    justify-content: center;
}
 header img{
      width: 100px;
}

img:hover{
    box-shadow: 2px 5px 4px 8px rgba(0, 0, 0, 0.04);
    width: 100px;
    height: 100px;
    border-radius: 100%;
}
header p{
    margin-bottom: 20px;
    font-size: 12px;
}
.wall{
    width: 60vw;
    height: 60vh;
    background-image: url(/bground.jpg); 
    background-position: center;
    background-repeat: no repeat;
    background-size: cover;
    box-shadow: 2px 5px 8px rgba(0, 0, 0, 0.74);
    border-radius: 5px;
    background-blend-mode: white;
}

header button{
    margin-top: 20px;
    padding: 5px;
    width: 200px;
   background-color: #ffb700;
   border: none;
   border-radius: 5px;
   color: #000;
}

header button a{
    color: #000;
    text-decoration: none;
    

}

header button:hover{
    box-shadow: 1px 4px 9px#000;
    cursor: pointer;
}